body {
    overflow-x: hidden;
}

.container-fluid {
    padding: 0;
}

.parallax-window {
	min-height: 75vh;
	background: transparent;
}

h1, h5 {
    text-align: center;
}

.mainHeader {
    font-size: 60px;
    background: #eee;
    padding: 18px 30px;
    border-radius: 16px;
    opacity: .9;
}

#intro.mainHeader {
    margin: 25vh 25vh 5vh;
}

#title {
    font-size: 80px;
}

#introInfo {
    line-height: 5vh;
}